PAYMENTS_MS_PORT=
CLIENT_GATEWAY_PORT=
STRIPE_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
# Use the endpoint secret from your Stripe webhook settings
# You can find it in the Stripe Dashboard under Developers > Webhooks
STRIPE_ENDPOINT_SECRET=
PORT_NATS=